<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atom Simulation</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="stylesheet" type="text/css" href="static/slider.css">
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <header>
        <h1>Particle Simulation</h1>
    </header>

    <main class="flex-container">
        <section id="editParticles" class="particle-controls">
            <h2>Edit Particles</h2>
            <div id="particles-forms">
                <button id="addParticleButton">Add Particle</button>
            </div>
        </section>

        <section id="simulation" class="simulation-display">
            <canvas id="life"></canvas>
            <div id="controls">
                <button id="simulateButton">Start Simulation</button>
            </div>
        </section>
    </main>

    <script src="static/js/interactions.js"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/draw.js"></script>
    <script src="static/js/form.js"></script>

</body>
</html>
